.speech {
    font-size: medium; ;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.direction {
    font-size: small;
    color: black;
    background-color: beige;
    font-family: "Courier New", Courier, sans-serif;
    font-style: italic;
}

.direction:hover {
    color: beige;
    background-color: black;
}

.name {
    font-size: large;
    color: black;
    font-family: 'Courier New', Courier, sans-serif

}

.name:hover {
    color: darkcyan;
    background-color: black;
    box-shadow: 0 0 10px black;
}

.oct {
    color: darkseagreen;
    font-family: sans-serif;
}

.sil {
    color: darkslategrey;
    font-style: oblique;
}

table {
    width: 80%;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    border-style: striped;
}

tr:nth-child(even) {
    background-color: beige;
}